.main-navbar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 10000;
  background-color: white;
}

.navbar {
  height: 100%;
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.navigation {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.menu {
  width: 100%;
  height: 60%;
  z-index: 10000;
  background-color: rgb(255, 255, 255);
  border-bottom: 0.1px solid rgb(207, 204, 204);
  position: fixed;
  display: none;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  flex-direction: column;
}

.menu span {
  width: 90%;
  position: relative;
  top: 28px;
  font-family: "Satoshi";
  font-size: 14px;
}

.items {
  width: 90%;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  left: 0;
  top: 0;
  margin-top: 64px;
}

.item {
  overflow: hidden;
}

.item span {
  color: black;
  font-size: 11.2vw;
  font-family: "Satoshi";
  position: relative;
}

.sdad {
  width: 90%;
  height: 100px;
  display: none;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
}

.menuBtn {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.line1,
.line2 {
  width: 90%;
  height: 2px;
  background-color: black;
  border-radius: 1003px;
  position: relative;
}

.navigator {
  display: flex;
  flex-direction: column;
  gap: 2px;
  height: 20px;
  overflow: hidden;
}

.navigator span {
  font-family: "Satoshi";
  color: black;
  font-size: 16px;
  position: relative; /* Needed for top/positioning */
  left: 0;
  width: 100%;
}

.sdsds {
  display: flex;
  flex-direction: column;
  gap: 2px;
  position: relative;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.logo-nav img {
  height: 50px;
  cursor: pointer;
}

#font-satoshi {
  font-family: "Satoshi";
}

@media (max-width: 705px) {
  .navigation {
    display: none;
  }

  .sdad {
    display: flex;
  }

  .menu {
    display: flex;
  }
}
